body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("llamera.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    font-size: 40px;
    color: white;
}

#enrolleeForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: transparent;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="number"],
select,
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: transparent;
    color: white;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid white ;
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
}

input[type="submit"]:hover {
    background-color: #0056b3;

}

h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.edit, .delete {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.edit {
    background-color: #28a745;
}

.edit:hover, .delete:hover {
    background-color: #0056b3;
}
